<div style="display: inline-flex; margin: 5px 10px;">
	<input style="margin:auto 0;" type="radio" name="tag" value="<%= tag %>" <% if (check) { -%>checked<% } -%>>
	<span style="margin:auto 5px; padding: 0 5px;"><%= tag %></span>
</div>