<div class="notification">
  <% if (success) { %>
    <div class="success-message">
      <p><%= success %></p>
    </div>
  <% } %>

  <% if (error) { %>
    <div class="error-message">
      <p><%= error %></p>
    </div>
  <% } %>
</div>