<!-- TODO -->
<html>
  <head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- title -->
    <title>WeiNote</title>
    <link rel="shortcut icon" href="https://yyrcd.com/images/favicon.ico">
    <!-- styles -->
    <link rel="stylesheet" href="/css/wiki.css">
    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bnt_more.css">
    <script src="/js/jquery/jquery.min.js"></script>
  </head>
  <body>
    <div class="container max-width py4 px2">
      <div class="header-tag">
        <a href="/notes" style="text-decoration: none; color: white;">
          <p> WeiNote </p>
        </a>
      </div>
      <div class="header-tag" style="font-size: -webkit-xxx-large;">
      	<p>404 NOT FOUND</p>
      </div>
      <%- include('components/notification')%>
<%- include('footer') %>