<footer id="footer">
  <div class="footer-container">
      <div class="footer-left">
        Copyright © 2019-2020 <a href="http://weinote.cc/" style="color: inherit; text-decoration: none;">WeiNote</a>
      </div>
      <div class="footer-right">
        Made with&nbsp;❤️ &nbsp;by Richard
      </div>
  </div>

<!-- dropdown button -->
<script type="text/javascript">
$(".bnt_to_dropdown").on('click', function(e) {
    e.stopPropagation();
    var $dropdown = $(this).siblings().fadeToggle(200); // toggle this dropdown
    $('.dropdown #dropdown_content').not($dropdown).fadeOut(200); // hide other dropdowns
});

$(document).on('click', function(e) {
    $('.dropdown #dropdown_content').fadeOut(100); // hide all dropdowns
});

function copy(text) {
  var input = document.createElement('input');
  input.setAttribute('value', window.location.origin + text);
  document.body.appendChild(input);
  input.select();
  var result = document.execCommand('copy');
  document.body.removeChild(input)
  return result;
}
</script>
<script src="/js/prism.js"></script>

<!-- goatcounter for weinote -->
<script>
  window.goatcounter = {path: function(p) { return location.host + p }}
</script>
<script data-goatcounter="https://stat.weinote.cc/count" async src="//stat.weinote.cc/count.js"></script>

</footer>

    </div>
</body>
</html>