<html>
  <head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- title -->
    <title>WeiNote</title>
    <link rel="shortcut icon" href="https://yyrcd-1256568788.cos.na-siliconvalley.myqcloud.com/yyrcd/2019-06-13-note-icon.png">
    <!-- styles -->
    <link rel="stylesheet" href="/css/wiki.css">
    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bnt_more.css">
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/shortcut.js"></script>
  </head>
  <body class="bodydairy">
    <div class="container max-width py4 px2">
      <div class="header-tag">
        <a href="/notes" style="text-decoration: none; color: white;">
          <p> WeiNote </p>
        </a>
      </div>
      <%- include('components/bnt_nav_setting') %>
      <%- include('components/notification')%>