/* ---------- 全局样式 ---------- */

body {
  width: auto;
  max-width: 52rem;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
  /*margin-left: 6%;*/
  /*margin-right: 10%;*/
  padding-top: 2.5rem;
  background-color: #262626;
  font-size: 62.5%;
}

a:hover {
  border-bottom: 1px solid #73BFCE;
}

.button {
  background-color: #73BFCE !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
}

.ui.avatar.image{
  width: 4em;
  height: 4em;
}
/* ---------- nav ---------- */

.nav {
  color: #999;
  text-align: center;
  padding: 20px 0;
}

.nav h1 {
  color: white;
  display: inline-block;
  margin: 0.625rem 0;
}

.nav p {
  font-size: 1.5em;
  font-family: "sans-serif";
}

.nav code {
    font-family: "sans-serif";
    /*text-decoration: underline;*/
    font-weight: bold;
    color: rgb(126, 126, 126);
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 1.875rem;
  top: 2.1875rem;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 0.625rem 0.625rem 0 0.625rem;
  background-color: #262626 !important;
}

.nav-setting .icon.bars {
  color: #fff;
  font-size: 18px;
}

/* ---------- post-content ---------- */

.post-content .ui.segment{
  background-color: #343434;
  border-radius: 5px;
  padding: 10px 40px;
  -webkit-box-shadow: 0 0 0 1px rgba(100, 99, 99, 0.05), 0 0 7px rgba(100, 99, 99, 0.06);
  box-shadow: 0 0 0 1px rgba(100, 99, 99, 0.05), 0 0 7px rgba(100, 99, 99, 0.06);
  margin: 20px 0px;
  color: #fff; 
}
.post-content .ui.segment img{
  width: 30%;
  display: block;
  margin: 0.5em auto;
  max-width: 80%;
  height: auto;
  border-radius: 6px;
  color: inherit;
  -webkit-box-shadow: 0 0 10px #555;
  transition: all 0.5s;
}  
.post-content .ui.segment img:hover{
  transform: scale(1.005);
  -webkit-box-shadow: 0 0 20px #555;
}  
.ui.grid .twelve.wide.column{
  padding: 0px 0px;
}

.post-content pre.pre-scroll{
  /*margin-bottom: 0.6rem;*/
  /*margin-top: 0.6rem;*/
  margin: 0px 0px;
  white-space:pre-wrap; /* css3.0 */
  max-height: 35rem;
}

.post-content pre.pre-full{
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  white-space:pre-wrap;

}

#style-3::-webkit-scrollbar
{
  width: 7px;
  background-color: #343434;
}

#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #343434;
  border-radius: 12px;
}

#style-3::-webkit-scrollbar-thumb
{
  border-radius: 12px;
  background-color: #262626;
}

.post-content pre p {
  font-family: "sans-serif";
  line-height: 180%;
  font-size: 1.5em;
  margin-bottom: 0px;
/*  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;*/
}

.post-content pre p:last-child {
  margin-bottom: 10px;
}

.post-content h3 {
  text-align: center;
}

.post-content h3 a {
  color: #4fc08d !important;
}

.ui.grid.t{
  font-size: 1.2em;
  color: #999;
}

.ui.grid.t .six.wide.column{
  text-align: center;
  padding: 5px 14px 10px 14px;
}
.ui.grid.t .five.wide.column a{
  color: #999;
}
.ui.grid.t .six.wide.column a{
  color: #999;
}
.ui.grid.t .five.wide.column.right{
  text-align: right;
  padding: 5px 14px 10px 14px;
}
.ui.grid.t .five.wide.column{
  padding: 5px 14px 10px 14px;
}
/* ---------- date ---------- */

.post-content .date{
  position: relative;
  top: 1px;
  float: right;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  padding-top: 0.6rem;
}
.post-content p.datem{
  border: 0.5px solid rgb(216 ,96 ,86);
  border-bottom-color: rgb(216 ,96 ,86);
  background-color: rgb(216 ,96 ,86);
  border: 0.5px solid rgb(126, 126, 126);
  color: white;
  /*--------style2------------*/
  /*border-bottom-color: rgb(126, 126, 126);
  background-color: #262626;
  color: rgb(216 ,96 ,86);*/
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 1.3em;
  margin: 0px 0px;
  font-weight: bold;
  
}
.post-content p.dated{
  border: 0.5px solid rgb(126, 126, 126) ;
  /*border-top-color: rgb(126, 126, 126);*/
  border-top: 0px;
/*  border-bottom: 0px;*/
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;  
  font-size: 2.2em;
  margin: 0px 0px;
  font-weight: bold;
  background-color: #262626;
  color: white;  
}
.post-content p.datey{
  border: 0.5px solid rgb(126, 126, 126) ;
  /*border-top-color: rgb(126, 126, 126);*/
  border-top: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;  
  font-size: 1.1em;
  margin: 0px 0px;
  background-color: #262626;
  color: white;  
}
.post-tag{
  background-color: #262626;
  color: #fff;
  font-family: "sans-serif";
  min-height: 35px;
  padding: 10px;
  border-radius: .28571429rem;
}    
/* ---------- year-cut ---------- */
.year-cut {
  padding: 25px 0px;
}

.year-cut h4{
  color: rgb(216 ,96 ,86);
  font-weight: bold;
  text-align: center;
}

/* ---------- edit ---------- */

.ui.form.segment{
  background-color: #343434;
  color: #fff;
}
.ui.form.segment label{
  color: #fff
}
.twelve.wide.column .field.required input, .ui.grid .twelve.wide.column .field.required textarea {
  background-color: #262626;
  color: #fff;
  font-family: "sans-serif";
}

.ui.reply.form .field textarea {
  background-color: #262626;
  color: #fff;
  font-family: "sans-serif";
}
.ui.segment h3{
  color: #fff;
}
.ui.minimal.comments .comment p, .date, .ui.minimal.comments .comment a, .comment-content h5.ui.dividing.header{
  color: #fff;
  font-family: "sans-serif";  
}

.comment-content .ui.segment{
  background-color: #343434;
  border-radius: 5px;
  padding: 10px 40px;
  -webkit-box-shadow: 0 0 0 1px rgba(100, 99, 99, 0.05), 0 0 7px rgba(100, 99, 99, 0.06);
  box-shadow: 0 0 0 1px rgba(100, 99, 99, 0.05), 0 0 7px rgba(100, 99, 99, 0.06);
  margin-bottom: 14px;
  margin-top: 14px;
  color: #fff; 
  font-size: 1.4em;
}

/*.comment .avatar.ui.avatar.image{
  border-radius: 500em;
}*/
#footer {
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  color: #c3bbbb;
  vertical-align: top;
  text-align: center;
  font-size: 11px;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer li {
  display: inline-block;
  margin-right: 15px;
  border-right: 1px solid #666;
  vertical-align: middle;
}
#footer li a {
  margin-right: 15px;
}
#footer li:last-child {
  margin-right: 0;
  border-right: 0;
}
#footer li:last-child a {
  margin-right: 0;
}
#footer a {
  color: #666;
  text-decoration: underline;
  background-image: none;
}
#footer a:hover {
  color: #858585;
}
#footer .footer-left {
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
}
@media (min-width: 39rem) {
  #footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
  }
  #footer .footer-left {
    align-self: flex-start;
    margin-right: 20px;
  }
  #footer .footer-right {
    align-self: flex-end;
  }
}
.more-setting-button {
  background-color: #262626;
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  margin: 12px 0;
  font-weight: bold;
  outline: 0;
}
.more-setting-button:hover {
  background-color: #555;
}
.tags-container{
  display: block;
  text-align: center;
  max-width: 70%;
  margin: 20px auto;
}
.label {
    display: inline-block;
    margin: 10px auto;
    min-width: 80px;
    border-radius: 6px;
    color: inherit;
    background: none;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
    white-space: nowrap;
}
.label p{
  padding: 2px 25px;
  font-size: 14px;
  color:white; 
  margin: 0;
  font-family: Times;
}
.label a{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
colors =  #5d3191 #c12680 #ed2861 #f06045 #f8b739 #82c545 #18a39b #2172b8 #5d3191 #c12680 #ed2861 #f06045 #f8b739 #82c545 #18a39b #2172b8 #c12680 #ed2861

for color, i in colors
    .label:nth-child({i+1}){
      background color
    }
    
.post-tag-date{
  position: absolute;
  right: 13px;
  top: 70px;
  padding: 0;
}

.post-tag-date .post-label {
    display: inline-block;
    margin: 3px auto;
    border-radius: 6px;
    color: inherit;
    background: none;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
    white-space: nowrap;
}
.post-tag-date .post-label p{
  padding: 1px 23px;
  font-size: 14px;
  font-weight: normal;
  color:white; 
  margin: 0;
  font-family: Times;
}
.post-tag-date .post-label a{
  cursor: pointer;
  text-decoration: none;
}
.post-tag-date .post-label a:hover{
  text-decoration: none;
}
.header-tag p{
  text-align: center;
  font-family: Times;
  font-size: 15px;
}